* {
    margin: 0;
    padding: 0;
}
body{
    background-color: skyblue;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.container{
    margin-left: 33%;
    height: 70vh;
    width: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vinm;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: none;
    box-shadow: blue;
    font-size: 5rem;
    background-color: antiquewhite;

}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: beige;
    border-radius: 1rem;
    border: none;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: beige;
    border-radius: 1rem;
    border: none;

}
#msg{
    color:#ffffc7;
    font-size: 8vmin;
}
.msg-container{
    height: 30vmin;
}
.hide{
    display: none;
}
